# pandas

Here we will have a quick play with a pandas DataFrame and use what we've learned about accessing them to answer some questions.

We stopped ten people in the street and asked them what pets they have. We also recorded the person's sex and age.

In [2]:
import numpy as np
import pandas as pd

In [3]:
pets = pd.DataFrame({'sex':np.array(['M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'M']),'age':np.array([21, 45, 23, 56, 47, 70, 34, 30, 19, 62]),
                     'pets':np.array([['cat', 'dog'],
                                    ['hamster'],
                                    ['cat', 'gerbil'],
                                    ['fish', 'hamster', 'gerbil'],
                                    ['cat'],
                                    ['dog'],
                                    ['dog'],
                                    ['cat'],
                                    ['rabbit', 'cat'],
                                    ['dog']])})

C:\Users\MINHLE~1\AppData\Local\Temp/ipykernel_14240/2461811572.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  'pets':np.array([['cat', 'dog'],

In [4]:
pets.head()

  sex  age                     pets
0   M   21               [cat, dog]
1   M   45                [hamster]
2   F   23            [cat, gerbil]
3   M   56  [fish, hamster, gerbil]
4   F   47                    [cat]

# What sex was the youngest respondent?

In [6]:
#select the sex column
pets.loc[pets['age'] == min(pets['age']), 'sex']

8    F
Name: sex, dtype: object

# What age was the person with the most pets?

In [9]:
#crete a new column 'num_pets'
pets['num_pets'] = pets['pets'].apply(lambda x: len(x) )

In [10]:
pets

  sex  age                     pets  nums_pet  num_pets
0   M   21               [cat, dog]         2         2
1   M   45                [hamster]         1         1
2   F   23            [cat, gerbil]         2         2
3   M   56  [fish, hamster, gerbil]         3         3
4   F   47                    [cat]         1         1
5   F   70                    [dog]         1         1
6   F   34                    [dog]         1         1
7   M   30                    [cat]         1         1
8   F   19            [rabbit, cat]         2         2
9   M   62                    [dog]         1         1

In [11]:
pets.loc[pets['num_pets'] == max(pets['num_pets']),'age']

3    56
Name: age, dtype: int32

# What was the most popular pet?

This is a very interesting question, given the data, because the data are arranged by respondent, not by pet. We need to get into the pets column now in order to count each type of animal. To do this, we could perform a list comprehension and iterate over each list element for each Series element. But here we're going to give you a handy way to convert that Series of lists into a (longer) Series. The reason for this is to end up with another Series, which means we still have access to the powerful methods available from pandas.

In [14]:
pet_series = pets['pets'].apply(pd.Series).stack().reset_index(drop = True)
pet_series

0         cat
1         dog
2     hamster
3         cat
4      gerbil
5        fish
6     hamster
7      gerbil
8         cat
9         dog
10        dog
11        cat
12     rabbit
13        cat
14        dog
dtype: object

In [15]:
pet_series.value_counts()

cat        5
dog        4
hamster    2
gerbil     2
fish       1
rabbit     1
dtype: int64

Note we could also have approached this task by iterating over the original pets column and collecting the animal as the key and the count as the value, but even this requires more explicit iterating and count incrementing, and we still need to iterate over the final result to find the maximum count. With our approach here, we can easily read the most popular pet animal from the top of the result.

# What was the average age of dog owners?

In [16]:
('dog' in ['dog','cat'],'dog' in ['rabbit'])

(True, False)

In [18]:
#use a lambda fucntion to test whether 'dog' is contained in each list of animals
pets.loc[pets['pets'].apply(lambda x: 'dog' in x),'age'].mean()

46.75

# Conclusion

You've now seen how pandas holds tabular data, where each column can be a different type (e.g. sex is character and age is a number). Furthermore, pandas provides incredibly powerful methods for slicing and dicing the data to answer some very interesting questions using relatively little code. You're well on your journey to becoming a data ninja!